#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: right;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.white {
  color: white;
}
.red {
  color: red;
}
.flex {
  display: flex;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}
.pad {
  padding: 25px;
}
.resultsDiv {
  padding: 50px;
  border: solid 1px white;
  position: absolute;
  bottom: 50px;
  max-height: 250px;
  overflow: scroll;
  left: 35%;
}
.alignLeft {
  text-align: left;
}
tr {
  border-bottom: solid 1px black;
}
.alignRight {
  text-align: right;
}
.stepsDiv {
  max-width: 55%;
}
.hide {
  display: none;
}
.buttonDiv {
  position: absolute;
  top: 50px;
  left: 150px;
  min-width: 300px;
  justify-content: space-around;
  padding: 50px;
}
.step {
  position: absolute;
  top: 200px;
  left: 50px;
  max-width: 300px;
}
.vDrop {
  max-width: fit-content;
}
.pdfLink {
  position: absolute;
  bottom: 20px;
  left: 50%;
}
.menuDiv {
  position: fixed;
  top: 50px;
  right: 50px;
}
button {
  margin: 10px;
  max-height:40px;
}
.cccDiv {
  border: solid white 1px;
  padding: 10px;
  font-size: 14px;
  text-align: start;
  position: relative;
  max-width: 300px;
}
.cccOuterDiv {
  padding: 10px;
  position: absolute;
  right: 350px;
  top: 50px;
  overflow: hidden;
  min-width: 600px;
  min-height: 300px;
  animation: close 500ms ease-in-out;
  animation: expand 500ms ease-in-out;
  transform-origin: top;
}
@keyframes close {
  100% {
  transform: scaleY(0);
  }
  
  70% {
  transform: scaleY(1.1);
  }
  
  0% {
  transform: scaleY(1);
  }
  }
@keyframes expand {
  0% {
  transform: scaleY(0);
  }
  
  70% {
  transform: scaleY(1.1);
  }
  
  100% {
  transform: scaleY(1);
  }
  }

.material-symbols-outlined::before {
  content: "\2713"; /* Unicode checkmark symbol or use your custom icon */
  position: absolute;
  left: 0;
  top: 0;
  font-size: 24px; /* Adjust the size of the custom icon */
  visibility: hidden;
}

input[type="checkbox"]:checked + label .material-symbols-outlined::before {
  visibility: visible;
}

label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 30px; /* Adjust this value to control the spacing */
}

.visually-hidden {
  position: absolute;
  left: -9999px;
}

.completeBtn {
  outline: none;
  border: none;
  background-color: transparent;
}
.completeBtn:focus {
  outline: none;
  border: none;
}
